<!--
  ~ Copyright (c) 2018.
  ~ OOON.ME ALL RIGHTS RESERVED.
  ~ Licensed under the Mozilla Public License, version 2.0
  ~ Please visit http://ooon.me or mail to zhaihao@ooon.me
  -->

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <conversionRule conversionWord="coloredLevel" converterClass="me.ooon.base.log.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${spark.yarn.app.container.log.dir:-log}/stderr</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${spark.yarn.app.container.log.dir:-log}/stderr.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history 默认0 不限制 -->
            <!--<maxHistory>30</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-100(%date %coloredLevel %logger{50}) - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="me.ooon.ospark" level="INFO"/>
    <logger name="org.apache.spark.sql.syntax" level="INFO"/>
    <logger name=""  level="ERROR"/>

    <logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>
    <logger name="slick.jdbc.JdbcBackend.parameter" level="INFO"/>
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="DEBUG"/>
    <logger name="slick.jdbc.StatementInvoker" level="DEBUG"/>
    <!--<logger name="slick.basic.BasicBackend.stream" level="DEBUG"/>-->

    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="ASYNC_FILE" />
        <!--<appender-ref ref="ASYNC_STDOUT"/>-->
    </root>

</configuration>
